.restaurant {
    background-color: #F6F6F6;
    padding-bottom: 65px;
    &__title {
        margin-left: 25px;
        padding-top: 50px;
    }
}

.card {
    position: relative;
    height: 270px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    @include border;  
    border-radius: 20px ;

    &__image {
        object-fit: cover;
        height: 75%;
        width: 100%;   
        border-radius: 20px 20px 0px 0px;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $mintColor;
        color: $mintDarkColor;
        width: 80px;
        height: 30px;
        position: absolute;
        top: 0px;
        right: 30px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
    }

    &__content {
        margin: 5px 0px 0px 10px;
    }

}


.mask {
    height: 30px;
    width: 40px;
    position: absolute;
    background-color: #f7f7f7;
    right: -10px;
    bottom: -5px;
    transform-origin: top;
    display: none;
}


.heart {
    position: absolute;
    right: 30px;
    bottom: 25px;
    transform-origin: top;

     
    & .heart--full{
        display: none;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        transform: scaleY(0);
        -moz-text-fill-color: transparent;
        transform-origin: top;
        transition: all 1s;
    }



    &:hover{

        & .mask {
            display: block;
            animation: maskHide 1s forwards;
        }

        & .heart--empty {
            display: none;
        }

        & .heart--full {
            display: inline;   
        }
    }
}

@keyframes maskHide {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }  
}


@media screen and (min-width: 1100px) {

    .restaurant__menu {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 1240px;
    }

    .restaurant__title {
        width: 1120px;
        margin: auto;
        padding-bottom: 20px;

    }
    
    .card {
        width: 500px;
        height: 20vh;
        margin: 20px 55px; 
        min-height: 220px;

        &__title {
            margin-top: 5px;
        }

        &__image {
            height: 72%;
        }
    }   
    
    .heart {
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
}