@media screen and (min-width: 0px) {


    .working {
        margin: 20px;
        &__title {
            margin-top: 50px;
        }
        }

    .bloc__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: 50px 0px;
    }

    .list {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        width: 80%;
        @include border;
        border-radius: 20px;
        padding: 15px;
        &__number {
            position: absolute;
            left: - 12px;
            border: solid 1px #9356DC;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #9356DC;
        }
        & a {
            text-decoration: none;
            color: inherit;
        }
        & i {
            padding-right: 20px;
            margin-left: 20px;            
        }

        & .colorGrey {
            color: $colorGrey;
        }

        & .colorPurple {
            color: $colorNumber;
        }
    }
}


@media screen and (min-width: 1100px) {

    .working {
        display: flex;
        flex-direction: column;
        margin: auto;
        &__title {
            width: 1120px;
            margin: 30px auto;
        }
    }

    .bloc__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;        
        width: 1100px;
        padding-bottom: 40px;
    }

    .list {
        width: 28%;
    }
}

  