body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__location p {
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.list a {
  font-size: 16px;
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

.menu__content p {
  font-size: 16px;
}

.menu__title {
  font-size: 28px;
}

.menu h2 {
  font-weight: 300;
  font-size: 16px;
}

.card__content p {
  font-size: 17px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.footer__title {
  font-size: 18px;
  font-weight: 400;
}

.footer__content {
  color: white;
}

footer a {
  color: white;
}

.card__info {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 1100px) {
  .booking__title {
    font-size: 40px;
    font-weight: 700;
  }
  h1 {
    font-size: 34px;
  }
}
.loaderContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  z-index: 3;
  animation: fade-out 1.5s forwards;
}

.letter {
  color: #9356DC;
  animation: neonLight 1.5s;
}
.letter-1 {
  animation-delay: 0.1s;
}
.letter-2 {
  animation-delay: 0.2s;
}
.letter-3 {
  animation-delay: 0.3s;
}
.letter-4 {
  animation-delay: 0.4s;
}
.letter-5 {
  animation-delay: 0.5s;
}
.letter-6 {
  animation-delay: 0.6s;
}
.letter-7 {
  animation-delay: 0.7s;
}
.letter-8 {
  animation-delay: 0.8s;
}

.loader-bar {
  margin-top: 15vh;
  height: 3vh;
  width: 50vw;
  border: solid 2px #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  height: 60%;
  width: 99%;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left;
  animation: loading 1.4s forwards;
}

@keyframes loading {
  0% {
    transform: scalex(0);
    background-color: #FF79DA;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  100% {
    transform: scalex(1);
    background-color: #9356DC;
  }
}
@keyframes neonLight {
  0% {
    color: #9356DC;
    text-shadow: 0px 0px 20px #9356DC;
  }
  40% {
    color: #6023a9;
    text-shadow: 0px 0px 20px #9356DC;
  }
  90% {
    color: #6023a9;
    text-shadow: none;
  }
  99% {
    color: #9356DC;
    text-shadow: 0px 0px 20px #9356DC;
  }
  100% {
    color: #9356DC;
    text-shadow: 0px 0px 20px #9356DC;
  }
}
@keyframes fade-out {
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  margin: auto;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__title i {
  position: absolute;
  top: 30px;
  left: 40px;
}
.header__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.header__location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: auto;
}
.header__location i {
  margin-right: 10px;
}

@media screen and (min-width: 1100px) {
  .header__title {
    height: 100px;
  }
  .header__title i {
    padding-top: 20px;
  }
}
.booking {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 240px;
}
.booking__title {
  width: 70%;
}
.booking p {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 0px;
}
.booking__btn {
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  width: 200px;
  padding: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 1s ease;
}
.booking__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}
.booking__btn a {
  color: white;
  text-decoration: none;
}

.booking {
  justify-content: center;
}

.working {
  margin: 20px;
}
.working__title {
  margin-top: 50px;
}

.bloc__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 50px 0px;
}

.list {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 80%;
  border: solid 0px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 15px;
}
.list__number {
  position: absolute;
  left: -12px;
  border: solid 1px #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
}
.list a {
  text-decoration: none;
  color: inherit;
}
.list i {
  padding-right: 20px;
  margin-left: 20px;
}
.list .colorGrey {
  color: #7E7E7E;
}
.list .colorPurple {
  color: #9356DC;
}

@media screen and (min-width: 1100px) {
  .working {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .working__title {
    width: 1120px;
    margin: 30px auto;
  }
  .bloc__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
    padding-bottom: 40px;
  }
  .list {
    width: 28%;
  }
}
.restaurant {
  background-color: #F6F6F6;
  padding-bottom: 65px;
}
.restaurant__title {
  margin-left: 25px;
  padding-top: 50px;
}

.card {
  position: relative;
  height: 270px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  border: solid 0px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.card__image {
  object-fit: cover;
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.card__content {
  margin: 5px 0px 0px 10px;
}

.heart {
  position: absolute;
  right: 30px;
  bottom: 25px;
  opacity: 1;
}
.heart .heart--full {
  display: none;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: fadeIn 1.5s;
}
.heart:hover .heart--empty {
  display: none;
}
.heart:hover .heart--full {
  display: inline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1100px) {
  .restaurant__menu {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1240px;
  }
  .restaurant__title {
    width: 1120px;
    margin: auto;
    padding-bottom: 20px;
  }
  .card {
    width: 500px;
    height: 20vh;
    margin: 20px 55px;
    min-height: 220px;
  }
  .card__title {
    margin-top: 5px;
  }
  .card__image {
    height: 72%;
  }
  .heart {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
}
.footer {
  background-color: #353535;
  padding: 20px 0;
}
.footer__content {
  margin-left: 25px;
}
.footer__icon {
  padding-right: 10px;
}

.footerMenu {
  margin-top: -60px;
}

@media screen and (min-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__container {
    display: flex;
  }
  .footer__title {
    margin-right: 30px;
  }
  .footer__content {
    margin-top: 40px;
  }
  .mention {
    display: flex;
    margin-left: 30px;
    margin-right: 50px;
  }
  .footerMenu {
    margin-top: -60px;
  }
}
.menu {
  position: relative;
  top: -60px;
  background-color: #F6F6F6;
  padding: 20px 15px;
  border-radius: 50px 50px 0 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
}
.menu__starter {
  animation: fadeIn 1s;
}
.menu__mainMeal {
  animation: fadeIn 2s;
}
.menu__desert {
  animation: fadeIn 3s;
}
.menu__container {
  position: relative;
  cursor: pointer;
  display: flex;
  border: solid 0px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 600px;
  width: 95%;
  overflow: hidden;
}
.menu__container:active .menu__slide {
  transform: translatex(-75px);
}
.menu__container:active .menu__content {
  margin-right: 75px;
}
.menu__container .menu__slide {
  display: flex;
  position: absolute;
  height: 100%;
  right: -100px;
  transition: transform 0.25s;
}
.menu__container .menu__slidePrice {
  display: flex;
  align-items: flex-end;
  width: 50px;
  font-weight: bold;
}
.menu__container .menu__slideCheck {
  position: relative;
  width: 100px;
  height: 150px;
  bottom: 20px;
  background-color: #99E2D0;
}
.menu__container .menu__slideCheck::after {
  content: "\f058";
  width: 40px;
  height: 40px;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
  position: absolute;
  top: 32%;
  left: 25px;
  color: white;
}
.menu__titre {
  padding-top: 30px;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: auto;
}
.menu__title {
  margin: auto;
}
.menu__heart .heart--full {
  display: none;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: fadeIn 1.5s forwards;
}
.menu__heart:active .heart--empty {
  display: none;
}
.menu__heart:active .heart--full {
  display: inline;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu__h2 {
  margin: auto;
  padding-top: 30px;
  width: 600px;
}
.menu__h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
}
.menu__content {
  margin: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transform-origin: left;
  margin-right: 30px;
  transition: margin-right 0.25s;
}
.menu__btn {
  display: flex;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  max-width: 190px;
  padding: 15px;
  cursor: pointer;
  margin: 50px auto 30px auto;
  justify-content: center;
  transition: all 1s ease;
}
.menu__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}
.menu__btn a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .menu {
    width: 1055px;
    margin: auto;
  }
  .menu__titre {
    width: 350px;
  }
  .menu__container:hover .menu__slide {
    transform: translatex(-75px);
  }
}

/*# sourceMappingURL=style.css.map */
