@media screen and (min-width: 0px) {
  body {
    margin: 0px;
  }
}
@media screen and (min-width: 0px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .header__location {
    font-weight: 500;
  }
  .list a {
    font-size: 16px;
    font-weight: 500;
  }
  h2 {
    font-weight: 700;
  }
  h3 {
    font-size: 18px;
  }
  .menu h2 {
    font-weight: 300;
    font-size: 16px;
  }
  .card__content p {
    font-size: 17px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
  }
  .footer__title {
    font-size: 18px;
    font-weight: 400;
  }
  .footer__content {
    color: white;
  }
  .card__info {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1100px) {
  .booking__title {
    font-size: 40px;
    font-weight: 700;
  }
  h1 {
    font-size: 34px;
  }
}
@media screen and (min-width: 0px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    margin: auto;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .header__title i {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .header__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }
  .header__location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: auto;
  }
  .header__location i {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1100px) {
  .header__title {
    height: 100px;
  }
  .header__title i {
    padding-top: 20px;
  }
}
@media screen and (min-width: 0px) {
  .booking {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 287.5px;
  }
  .booking__title {
    margin-top: 40px;
    width: 70%;
  }
  .booking p {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .booking__btn {
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
    width: 200px;
    padding: 15px;
    cursor: pointer;
    transition: all 1s ease;
  }
  .booking__btn:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  }
  .booking__btn a {
    color: white;
    text-decoration: none;
  }
}
.booking {
  justify-content: center;
}

@media screen and (min-width: 0px) {
  .working {
    margin: 20px;
  }
  .working__title {
    margin-top: 50px;
  }
  .bloc__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 50px 0px;
  }
  .list {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 80%;
    border: solid 0px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 15px;
  }
  .list__number {
    position: absolute;
    left: -12px;
    border: solid 1px #9356DC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9356DC;
  }
  .list a {
    text-decoration: none;
    color: inherit;
  }
  .list i {
    padding-right: 20px;
    margin-left: 20px;
  }
  .list .colorGrey {
    color: #7E7E7E;
  }
  .list .colorPurple {
    color: #9356DC;
  }
}
@media screen and (min-width: 1100px) {
  .working {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .working__title {
    width: 1120px;
    margin: 30px auto;
  }
  .bloc__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
    padding-bottom: 40px;
  }
  .list {
    width: 28%;
  }
}
@media screen and (min-width: 0px) {
  .restaurant {
    background-color: #F6F6F6;
    padding-bottom: 65px;
  }
  .restaurant__title {
    margin-left: 25px;
    padding-top: 50px;
  }
  .card {
    position: relative;
    height: 270px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border: solid 0px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .card__image {
    object-fit: cover;
    height: 75%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    color: #008766;
    width: 80px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
  .card__content {
    margin: 5px 0px 0px 10px;
  }
  .heart {
    position: absolute;
    right: 30px;
    bottom: 25px;
    opacity: 1;
    z-index: 1;
  }
  .heart .heart--full {
    display: none;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: fadeIn 0.5s;
  }
  .heart:hover .heart--empty {
    display: none;
  }
  .heart:hover .heart--full {
    display: inline;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 1100px) {
  .restaurant__menu {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1240px;
  }
  .restaurant__title {
    width: 1120px;
    margin: auto;
    padding-bottom: 20px;
  }
  .card {
    width: 500px;
    height: 22vh;
    margin: 20px 55px;
  }
  .heart {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
}
@media screen and (min-width: 0px) {
  .footer {
    background-color: #353535;
    padding: 20px 0;
  }
  .footer__content {
    margin-left: 25px;
  }
  .footer__icon {
    padding-right: 10px;
  }
  .footerMenu {
    margin-top: -60px;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__container {
    display: flex;
  }
  .footer__title {
    margin-right: 30px;
  }
  .footer__content {
    margin-top: 40px;
  }
  .mention {
    display: flex;
    margin-left: 30px;
    margin-right: 50px;
  }
  .footerMenu {
    margin-top: -60px;
  }
}
@media screen and (min-width: 0px) {
  .menu {
    position: relative;
    top: -60px;
    background-color: #F6F6F6;
    padding: 20px 15px;
    border-radius: 50px 50px 0 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
  }
  .menu__starter {
    animation: fadeIn 1s;
  }
  .menu__mainMeal {
    animation: fadeIn 1.5s;
  }
  .menu__desert {
    animation: fadeIn 2s;
  }
  .menu__container {
    position: relative;
    cursor: pointer;
    display: flex;
    border: solid 0px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 20px;
    margin: 20px auto;
    max-width: 600px;
    width: 95%;
    padding: 0;
    overflow: hidden;
  }
  .menu__container:active .menu__slide {
    transform: translatex(-75px);
  }
  .menu__container .menu__slide {
    display: flex;
    position: absolute;
    height: 100%;
    right: -100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: transform 0.25s;
  }
  .menu__container .menu__slidePrice {
    display: flex;
    align-items: flex-end;
    width: 50px;
    font-weight: bold;
  }
  .menu__container .menu__slideCheck {
    position: relative;
    width: 100px;
    height: 150px;
    z-index: 1;
    bottom: 20px;
    background-color: #99E2D0;
  }
  .menu__container .menu__slideCheck::after {
    content: "\f058";
    width: 40px;
    height: 40px;
    font-family: "Font Awesome 5 Free";
    font-size: x-large;
    font-weight: 900;
    position: absolute;
    top: 32%;
    left: 25px;
    color: white;
  }
  .menu__title {
    display: flex;
    margin: auto;
    padding: 30px 0px;
    max-width: 600px;
    padding-left: 10px;
  }
  .menu__heart {
    height: 20px;
    padding-left: 50px;
  }
  .menu__heart .heart--full {
    display: none;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: fadeIn 0.5s forwards;
  }
  .menu__heart:active .heart--empty {
    display: none;
  }
  .menu__heart:active .heart--full {
    display: inline;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .menu__h2 {
    margin: auto;
    padding-top: 30px;
    width: 600px;
  }
  .menu__h2::after {
    content: "";
    display: block;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width: 40px;
  }
  .menu__content {
    margin: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .menu__btn {
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
    max-width: 190px;
    padding: 15px;
    cursor: pointer;
    margin: 50px auto 30px auto;
    justify-content: center;
    transition: all 1s ease;
  }
  .menu__btn:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  }
  .menu__btn a {
    color: white;
    text-decoration: none;
  }
}
@media screen and (min-width: 1000px) {
  .menu {
    width: 1055px;
    margin: auto;
  }
  .menu__title {
    text-align: center;
    padding-top: 40px;
  }
  .menu__container:hover .menu__slide {
    transform: translatex(-75px);
  }
}

/*# sourceMappingURL=style.css.map */
