@media screen and (min-width: 0px) {


    body {
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .header__location {
        font-weight: 500;
    }


    .list a {
        font-size: 16px;
        font-weight: 500;
    }

    h2 {
        font-weight: 700;
    }

    h3 {
        font-size: 18px;
    }

    .menu h2  {
        font-weight: 300;
        font-size: 16px;
    }

    .card__content p {
        font-size: 17px;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }

    .footer__title{
        font-size: 18px;
        font-weight: 400;
    }

    .footer__content {
        color: white;
    }

    .card__info {
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (min-width: 1100px) {
    
    .booking__title {
        font-size: 40px;
        font-weight: 700;
    }
    
    h1 {
        font-size: 34px;
    }
}


 

