$colorButton : linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$colorNumber : #9356DC;
$locationColor : #EAEAEA;
$colorGrey: #7E7E7E;
$mintColor : #99E2D0;
$mintDarkColor: #008766;

$homePageBtn : linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);      
$homePageBtnLighten : linear-gradient(180deg, lighten(#FF79DA, 5%) -11.44%, lighten(#9356DC, 5%) 123.93%);
